/* page 1 */

.home-page .page-1 {
  padding: 1vw;
  height: 90vh !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .page-1 .header {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.home-page .page-1 .header span {
  color: var(--app-theme-color);
  display: block;
  font-size: 2.3rem;
}

.home-page .page-1 .react-svg-icon {
  scale: 0.1;
  position: absolute;
}

/* page 1 media queries */

@media screen and (max-width: 1369px) {
  .home-page .page-1 .header {
    font-size: 3rem;
    width: 70vw;
  }
}

@media screen and (max-width: 900px) {
  .home-page .page-1 .header {
    font-size: 2.5rem;
    width: 70vw;
  }

  .home-page .page-1 .header span {
    font-size: 1.5rem;
  }
}

/* page 2 */

.home-page .page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 60vh !important;
}

.home-page .page-2 .reason-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 90%;
  width: 80%;
}

.home-page .page-2 .reason-1 .header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  border-width: 5px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #b33ad5);
  padding: 3vw;
}

.home-page .page-2 .reason-1 .text {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page .page-2 .reason-1 .text .title {
  font-weight: bold;
  font-size: 2rem;
}

/* page 2 media queries */

@media screen and (max-width: 1001px) {
  .home-page .page-2 .reason-1 .header {
    font-size: 3rem;
  }

  .home-page .page-2 .reason-1 .text .title {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 810px) {
  .home-page .page-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 110vh !important;
  }

  .home-page .page-2 .reason-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 90%;
    width: 80%;
  }

  .home-page .page-2 .reason-1 .text {
    width: 70%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 8vh;
  }
}

/* page 3 */

.home-page .page-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh !important;
  padding-right: 13px;
}

.home-page .page-3 .header {
  font-size: 3rem;
  font-weight: bold;
}

.home-page .page-3 .cards {
  height: 85%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 10vh;
  padding-right: 13px;
}

.home-page .page-3 .cards .card {
  width: 30%;
  height: 53vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page .page-3 .cards .card img {
  width: 100%;
  height: auto;

  border-radius: 4px;
  border: 2px solid #000;
}

.home-page .page-3 .cards .card .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.home-page .page-3 .cards .card .desc {
  width: 90%;
  text-align: center;
  color: rgb(61, 61, 61);
  font-size: 15px;
}

.home-page .page-3 .cards .card .button {
  padding: 12px;

  border: 2px solid #000;
  border-radius: 4px;

  font-family: "Lexend";
  font-size: 14px;

  background-color: #d4c2ef;

  cursor: pointer;
  transition: all 0.5s;
}

.home-page .page-3 .cards .card .button:hover {
  background-color: #cbb1f2;
}

/* page 3 media queries */

@media screen and (max-width: 1416px) {
  .home-page .page-3 .cards .card {
    width: 25%;
    flex-basis: 25%;
    height: 53vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1015px) {
  .home-page .page-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130vh !important;
  }

  .home-page .page-3 .cards {
    height: 90%;
    gap: 1vw;
  }

  .home-page .page-3 .cards .card {
    width: 45%;
    flex-basis: 45%;
    height: 53vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 747px) {
  .home-page .page-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 210vh !important;
  }

  .home-page .page-3 .cards {
    gap: 3vw;
  }

  .home-page .page-3 .cards .card {
    width: 90%;
    flex-basis: 90%;
    height: 53vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 587px) {
  .home-page .page-3 .header {
    font-size: 2rem;
  }
}

/* page 4 */

.home-page .page-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 82vh !important;
}

.home-page .page-4 .header {
  font-size: 2rem;
  font-weight: bold;

  text-align: center;
}

.home-page .page-4 .certs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;

  width: 90%;

  margin-top: 10vh;
}

.home-page .page-4 .certs .card {
  width: 30%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page .page-4 .certs .card a {
  height: 60%;
}

.home-page .page-4 .certs .card img {
  height: 100%;
  width: auto;

  border: 2px solid #000;
}

.home-page .page-4 .certs .card .title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.home-page .page-4 .certs .card .desc {
  width: 90%;
  text-align: center;
  color: rgb(61, 61, 61);
  font-size: 15px;
}

.home-page .page-4 .certs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;

  width: 90%;

  margin-top: 5vh;
}

.home-page .page-4 .button {
  padding: 12px;

  border: 2px solid #000;
  border-radius: 4px;

  font-family: "Lexend";
  font-size: 14px;

  background-color: #d4c2ef;

  cursor: pointer;
  transition: all 0.5s;
}

.home-page .page-4 .button:hover {
  background-color: #cbb1f2;
}

/* page 4 media queries */

@media screen and (max-width: 907px) {
  .home-page .page-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 135vh !important;
  }

  .home-page .page-4 .certs .card {
    width: 90%;
    flex-basis: 90%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 445px) {
  .home-page .page-4 .certs .card img {
    width: 80vw;
    height: auto;
    max-height: 300px;
  }
}

/* page 5 */

.home-page .page-5 {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #c1b5f2;
}

.home-page .page-5 .reason-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 90%;
  width: 80%;
}

.home-page .page-5 .reason-2 .header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  border-width: 5px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #b33ad5);
  padding: 3vw;
}

.home-page .page-5 .reason-2 .text {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page .page-5 .reason-2 .text .title {
  font-weight: bold;
  font-size: 2rem;
}

/* page 5 media queries */

@media screen and (max-width: 1001px) {
  .home-page .page-5 .reason-2 .header {
    font-size: 3rem;
  }

  .home-page .page-5 .reason-2 .text .title {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 810px) {
  .home-page .page-5 {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80vh !important;
  }

  .home-page .page-5 .reason-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 90%;
    width: 80%;
  }

  .home-page .page-5 .reason-2 .text {
    width: 70%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
}

/* page 6 */

.home-page .page-6 {
  height: 90vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #c1b5f2;
}

.home-page .page-6 .praise-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  height: 90%;
}

.home-page .page-6 .img {
  width: 30vw;
  height: auto;
}

.home-page .page-6 .text {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page .page-6 .text .title {
  font-weight: bold;
  font-size: 3rem;
}

.home-page .page-6 .text .desc {
  font-size: 1.5rem;
}

@media screen and (max-width: 787px) {
  .home-page .page-6 {
    display: none;
  }
}

/* page initiave */

.home-page .page-initiative {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 90vh !important;
  background-color: #c1b5f2;
}

.home-page .page-initiative .header {
  font-size: 3rem;
  font-weight: bold;
  width: 90%;

  text-align: center;
}

.home-page .page-initiative .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 80%;
}

.home-page .page-initiative .content .left {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page .page-initiative .content .left .title {
  font-size: 2rem;
  font-weight: bold;
}

.home-page .page-initiative .content .left .desc {
  width: 90%;
}

.home-page .page-initiative .content .right {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page .page-initiative .content .right .title {
  font-size: 2rem;
  font-weight: bold;
}

.home-page .page-initiative .content .right .desc {
  width: 90%;
}

@media screen and (max-width: 787px) {
  .home-page .page-initiative {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 120vh !important;
    background-color: #c1b5f2;
  }

  .home-page .page-initiative .header {
    font-size: 2rem;
  }

  .home-page .page-initiative .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 80%;

    margin-top: 5vh;
  }

  .home-page .page-initiative .content .left {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-page .page-initiative .content .right {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 510px) {
  .home-page .page-initiative {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 170vh !important;
    background-color: #c1b5f2;
  }
}

/* page 7 */

.home-page .page-7 {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #a593ea;
}

.home-page .page-7 .reason-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 90%;
  width: 80%;
}

.home-page .page-7 .reason-3 .header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  border-width: 5px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #b33ad5);
  padding: 3vw;
}

.home-page .page-7 .reason-3 .text {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page .page-7 .reason-3 .text .title {
  font-weight: bold;
  font-size: 2rem;
}

/* page 7 media queries */

@media screen and (max-width: 1001px) {
  .home-page .page-7 .reason-3 .header {
    font-size: 3rem;
  }

  .home-page .page-7 .reason-3 .text .title {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 810px) {
  .home-page .page-7 {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80vh !important;
  }

  .home-page .page-7 .reason-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 90%;
    width: 80%;
  }

  .home-page .page-7 .reason-3 .text {
    width: 70%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
}

.home-page .page-8 {
  height: 180vh !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #a593ea;
}

.home-page .page-8 .values {
  width: 100%;
  height: 180vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-page .page-8 .value {
  height: 60vh;
  width: 50vw;
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page .page-8 .value .title {
  font-size: 2rem;
  font-weight: bold;
}

.home-page .page-8 .value .desc {
  text-align: center;
  width: 90%;
}

.home-page .page-8 .value .download {
  padding-left: 8px;
  color: white;
}

.home-page .page-8 .value.excellence {
  background-color: #fe3a58ff;
}

.home-page .page-8 .value.creativity {
  background-color: #f7c75dff;
}

.home-page .page-8 .value.integrity {
  background-color: #6290a6ff;
}

.home-page .page-8 .value.resilience {
  background-color: #091e4f;
}

.home-page .page-8 .value.resilience .title,
.home-page .page-8 .value.resilience .desc {
  color: white;
}

.home-page .page-8 .value.kindness {
  background-color: #eb928aff;
}

.home-page .page-8 .value.diversity {
  background-color: #5facd3ff;
}

@media screen and (max-width: 1106px) {
  .home-page .page-8 {
    height: 360vh !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #a593ea;
  }

  .home-page .page-8 .values {
    width: 100%;
    height: 360vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .home-page .page-8 .value {
    height: 60vh;
    width: 100vw;
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* 
@media screen and (max-height: 715px) {
  .home-page .page-2 {
    height: 80vh !important;
  }

  .home-page .page-3 {
    height: 100vh !important;
  }

  .home-page .page-4 {
    height: 90vh !important;
  }

  .home-page .page-5 {
    height: 80vh !important;
  }

  .home-page .page-initiative {
    height: 100vh !important;
  }

  .home-page .page-7 {
    height: 80vh !important;
  }
} */
